
body{
  margin: 10px;
}

table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  
}
td{
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-align: center;
}

.header{
  background-image: url('background-header.png');
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  margin-bottom: 10px;
}

.torrentAdder{
  margin-bottom: 10px;
}

.torrentAdder > h3{
  margin-top: 0;
  margin-bottom: 5px;
}
.torrentAdder > .torrentAdder-left > input{
  margin: 5px;
}

.torrentAdder > .torrentAdder-right > input{
  margin: 5px;
}

.torrentAdder-bottom > button{
  margin: 5px;
}

.torrent-left{
  border-left: 2px solid black;
}

.torrent-left > button{
  margin: 5px;
}

.torrent-right{
  border-right: 2px solid black;
}

.nameButtonGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameButtonGroup > img{
  margin-top: 10px;
  margin-bottom: 10px;
}

.nameButtonGroup > img{
  height: 50px;
  width: 50px;
}

.delete-button{
  margin-top: 20px;
}

.descriptionInput > textarea{
   width: 96%;
   padding: 1%;
   resize: vertical;
}

.authorDatePair{
  display: flex;
  flex-direction: column;
}

.torrent > td > textarea{
  /* box-sizing: border-box; */
  width: 100%;
  height: 100%;
}

.increments{
  display: flex;
  flex-direction: column;
}

.increments > button{
  margin: 5px;
}

.leechers-full{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seeders-full{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.labels{
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labels-left{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.labels-right{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 2;
}

.searchBar{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.searchBar > .searchInput{
  margin-left: 10px;
  margin-right: 10px;
}

.searchBar > span{
  margin-right: 5px;
}

.spinner {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: black;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;

}

@keyframes spin {
  0% {
    transform: translateX(0px);
  }
  
  25% {
    transform: translateX(100px);
  }

  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}